.text-container-about-title {
  display: flex;               
  flex-direction: column;  
  align-items: flex-start;   
  text-align: justify;
  height: 580px;
  padding: 25px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 25px;
  width: 90vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.container-about-title {
  background-color: rgba(64, 0, 0, 0.7);
  padding: 15px;
  border-radius: 10px;
}

.box-for-images-first {
  position: relative;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-top: 30px;
}

.text-container-about-first {
  display: flex;               
  flex-direction: column;  
  align-items: flex-start;   
  text-align: justify;
  height: 575px;
  padding: 25px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 25px;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.box-for-images-scnd {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 80px;
}

.text-container-about-scnd {
  display: flex;
  float:right;    
  flex-direction: column;
  align-items: flex-start;   
  text-align: justify;
  height: 575px;
  padding: 25px;
  font-weight: 500;
  font-size: 16px;
  margin-right: 25px;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 5%;
}

.image-kitten {
  width: 500px;
  height: 500px;
  border: 7px solid rgba(64, 0, 0, 0.7);
  border-radius: 12px;
  z-index: 1;
}

.text-image {
  margin-top: 5%;
  color: rgb(210, 94, 76);
  font-family: "Press Start 2P", system-ui;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 50px;
}

.text-image:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Цвет фона кнопки при наведении */
  cursor: grab;
}

.image-text {
  width: 500px;
  height: 500px;
  border: 7px solid rgba(64, 0, 0, 0.7);
  border-radius: 12px;
  background-color:  rgba(0, 0, 0, 0.7);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}